In [1]:
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.image as mpimg # mpimg 用于读取图片
import json
import pandas as pd

img_names1 = pd.read_csv(r"D:\data\ai_challenge\img_names1.csv",encoding = 'gb18030')
label_list = list(img_names1['label1'])
print(len(label_list))

210000

In [20]:
count = 0
ex = []

count1 = 0
count2 = 0
count3 = 0
count4 = 0

for i in range(210000):
    if '一' in label_list[i]:
        count1+=1
        continue
    if '二' in label_list[i] or '对' in label_list[i] or '两' in label_list[i]:
        count2+=1
        continue
    if '三' in label_list[i]:
        count3+=1
        continue
    if '四' in label_list[i] or '五' in label_list[i] or '六' in label_list[i] \
            or '七' in label_list[i] or '八' in label_list[i] or '几' in label_list[i]:
        count4+=1
        continue

    ex.append(i)
    count+=1
    
print(count)
print(count1)
print(count2)
print(count3)
print(count4)

29
162025
34789
9695
3462

In [11]:
for i in ex:
    print(label_list[i])

运动场上有个右手抬起的女人坐在椅子上
穿着球衣的男人走在万众瞩目的运动场上
泥泞的菜地里站着上身前倾、双手拿着锄头锄地的女人
人来人往的道路上站着左手插兜的女人
穿着红色衣服的女子走在马路上
街道上的白色车子旁俩个带着印花帽子的女人在交谈
衣着绚丽的女人在狭小的舞台上站着
郁郁葱葱的草坪上有个穿着牛仔裤的孩子坐在玩具车上
广告牌前站着双手背在身后的女人
个面带笑容的女人拿着种植盘走在宽阔的苗圃中
室外有个左手拿着话筒的女人坐在台阶上
屋子里有个戴眼镜的男人坐在沙发上
房间里医德端着杯子的人在给躺在长椅上的人喂水
右手拿着牙刷的小孩站在道路上刷牙
球场上有个左手拿着高尔夫球杆的男人在振臂欢呼
人来人往的大厅里走着右手拎着包的女人
运动场上有丙个戴着帽子的女人在握手
蓝天下的建筑工地的施工现场有1个带着安全帽的工人半跪着工作
餐厅里有左手端着盘子的女人在盛肉
右手拽左臂的男人和外套系在腰间的女人站在冰雪混杂的树林中
跳过跳过跳过跳过跳过
5个手上拿着球杆的男人在绿茵茵的草地上奔跑
明亮的房间里坐着右臂放在膝盖上的女人
发布会的幕布前站着穿深色连衣裙的女人
身穿精致礼服的男女在整洁的室内跳舞
整洁的教室里手拿证书的女孩坐在蓝衣服女孩的前面
房屋外有左手放在方向盘上的男人坐在赛车上
房屋外有双手抓着方向盘的男人坐在拖拉机上

In [4]:
output = img_names1.copy()
output.head()

,Unnamed: 0,img,label1
0,0,0000252aea98840a550dac9a78c476ecb9f47ffa.jpg,一个穿着黑色裤子的男人搂着一个穿着裙子的女人在冰面上滑冰
1,1,000041512fa82558167d5cd9b1f7bc1b24e4ceea.jpg,两个穿着不同球服的球员头碰头站在球场上
2,2,000078b2a9c37d4004124720cdfa3b1667ca43ff.jpg,一个拿着花束的女人和一个穿着西服的男人站在舞台上
3,3,0000ab10e435518335540b4ec216fa7cc2ee90c7.jpg,网吧里的两个人旁边有一个戴着耳机的女人在玩游戏
4,4,0000e06c1fc586992dc2445e9e102899ccb5e3fc.jpg,运动场上有一个右手拿着球拍的女人在打网球

In [31]:
xx = [1,3]
output.loc[xx]['img']

1    000041512fa82558167d5cd9b1f7bc1b24e4ceea.jpg
3    0000ab10e435518335540b4ec216fa7cc2ee90c7.jpg
Name: img, dtype: object

In [2]:
##### 生成训练数据

count1 = 0

pos = []
neg = []

for i in range(210000):
    if '一' in label_list[i] and count1<60000:
        pos.append(i)
        count1+=1
    if '一' not in label_list[i]:
        neg.append(i)
        
print('done')

done

In [5]:
frame1 = output.loc[pos].copy()
frame1['y'] = 1
frame1.head()

,Unnamed: 0,img,label1,y
0,0,0000252aea98840a550dac9a78c476ecb9f47ffa.jpg,一个穿着黑色裤子的男人搂着一个穿着裙子的女人在冰面上滑冰,1
2,2,000078b2a9c37d4004124720cdfa3b1667ca43ff.jpg,一个拿着花束的女人和一个穿着西服的男人站在舞台上,1
3,3,0000ab10e435518335540b4ec216fa7cc2ee90c7.jpg,网吧里的两个人旁边有一个戴着耳机的女人在玩游戏,1
4,4,0000e06c1fc586992dc2445e9e102899ccb5e3fc.jpg,运动场上有一个右手拿着球拍的女人在打网球,1
5,5,0000fa57f8448db6f16c101b988a80bcdef0d355.jpg,屋子里有一个男人坐在堆满硬币的桌子边数硬币,1

In [6]:
frame2 = output.loc[neg].copy()
frame2['y'] = -1
frame2.head()

,Unnamed: 0,img,label1,y
1,1,000041512fa82558167d5cd9b1f7bc1b24e4ceea.jpg,两个穿着不同球服的球员头碰头站在球场上,-1
11,11,0002bb81206ddd163ddad4b6970e690025bf3cbc.jpg,明亮的舞台上两个穿着深色上衣的男人在击掌,-1
12,12,0002c590c6b4b5d3fcecfc3d9177756c614ca0ad.jpg,球场上有两个穿着运动服的人在抢足球,-1
14,14,0003941d90c286333424e765f52dca8594af860e.jpg,绿油油的草地上有三个小孩在玩耍,-1
19,19,0004f024ed1b4fc1505a61d254b44341f518f877.jpg,四个穿着球衣的男人在平坦的运动场上奔跑,-1

In [7]:
df = frame1.append(frame2)
df.head()

,Unnamed: 0,img,label1,y
0,0,0000252aea98840a550dac9a78c476ecb9f47ffa.jpg,一个穿着黑色裤子的男人搂着一个穿着裙子的女人在冰面上滑冰,1
2,2,000078b2a9c37d4004124720cdfa3b1667ca43ff.jpg,一个拿着花束的女人和一个穿着西服的男人站在舞台上,1
3,3,0000ab10e435518335540b4ec216fa7cc2ee90c7.jpg,网吧里的两个人旁边有一个戴着耳机的女人在玩游戏,1
4,4,0000e06c1fc586992dc2445e9e102899ccb5e3fc.jpg,运动场上有一个右手拿着球拍的女人在打网球,1
5,5,0000fa57f8448db6f16c101b988a80bcdef0d355.jpg,屋子里有一个男人坐在堆满硬币的桌子边数硬币,1

In [14]:
people_num = df.loc[:,{'img','label1','y'}]

people_num.to_csv(r"D:\data\ai_challenge\people_num.csv", index=False,header=True,columns=['img','label1','y'])
print('done')

done

In [17]:
tt = pd.read_csv(r"D:\data\ai_challenge\people_num.csv",encoding = 'gb18030')
from sklearn.utils import shuffle  
tt = shuffle(tt)  
tt.to_csv(r"D:\data\ai_challenge\people_num_shuffle.csv", index=False,header=True,columns=['img','label1','y'])
print('done')

done